body {

   margin: 0;
   padding: 0;
   max-width: 100%;
   background-color: white;
  
	
}

#page1{
	position:relative;
	height: 100vh;
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	
 	}



#page2{
	
	position: relative;
	height: 100vh;	
	background-size:  100% 100%;
	background-color: white;
	max-width: 100%;
	
	
}



#page3{
	position:relative;
	height: 100vh;
	background-color: white;
	
	

	
}
#nav{
	z-index: 1001;
	height: 150px;
	width: 100%;
	background-color: #18121E;
	position: fixed;
	top: calc(100% - 150px);
  
	color:white;
	
}
.smooth{
	position:absolute;

}


a{
	text-decoration: none;
}
a:visited{
	color: white;
	}
li{
	list-style: none;
}
a.anchor{
		display: block;
    	position: relative;
    	top: -200px;
    	visibility: hidden;

}

#pic{
	position: absolute;
	width: 500px;
	height: 666px;
	background-image: url(me20.png);
	background-size: 100% 100%;
	top: 10%;
	left: 10%;


}
#aboutpic{
	position: absolute;
	width: 100%;
	height: 75%;
	background-image: url(gazed.png);
	background-size: 100% 100%;
	top: 10%;
	

}
#aboutme{
		position:absolute;
		width: 604px;
		height: 453 px;
		top: 50%;
		left: 20%;
		color: white;
		

}
#abouttitle{
	position: absolute;
	color: white;
	font-size: 2em;
	top: 20%;
	left: 40%;
	text-align: center;
}
#title{
	position:absolute;
	top: 40%;
	left: 55%;
	font-size: 3em;
	background-color: red;
	width: 25%;
	text-align: center;
}
#nava{
		position:absolute;
		top:50%;
		font-size: 2em;
	}
#navp{
		position:absolute;
		top:50%;
		left: 20%;
		font-size: 2em;
	}
#navc{
		position:absolute;
		top:50%;
		left: 40%;
		font-size: 2em;
	}

.vanish:hover{
	color: transparent;
	opacity: 0;
	

}
.it{
	position: absolute;
	top: 50%;
	left: 0;
	display: inline-block;
	width: 300px;
	text-align: center;
}
#pi0{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: red;
	color: white;
	z-index: 200;
	
	
}

#i0{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	
}

#pi1{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: blue;
	color: white;
	text-align: center;
	top: 0;
	left: 300px;
	z-index: 200;
	
}

#i1{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top: 0;
	left: 300px;
	
}

#pi2{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: purple;
	color: white;
	text-align: center;
	top: 0;
	left: 600px;
	z-index: 200;
	
}

#i2{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top: 0;
	left: 600px;
	
}
#pi3{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: green;
	color: white;
	text-align: center;
	top: 300px;
	left: 0;
	z-index: 200;
	
}

#i3{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top: 300px;
	left: 0;
	
}

#pi4{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: orange;
	color: white;
	text-align: center;
	top: 300px;
	left: 300px;
	z-index: 200;
	
}

#i4{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top: 300px;
	left: 300px;
	
}
#pi5{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: red;
	color: white;
	text-align: center;
	top: 300px;
	left: 600px;
	z-index: 200;
	
}

#i5{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top: 300px;
	left: 600px;
	
}

#pi6{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: green;
	color: white;
	text-align: center;
	top: 0;
	left: 900px;
	z-index: 200;
	
}

#i6{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top:0;
	left: 900px;
	
}

#pi7{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: blue;
	color: white;
	text-align: center;
	top: 300px;
	left: 900px;
	z-index: 200;
	
}

#i7{
	position: absolute;
	height: 300px;
	width: 300px;
	z-index: 199;
	background-image:url("h.png");
	top:300px;
	left: 900px;
	
}

#pi8{
	position: absolute;
	height: 300px;
	width: 300px;
	background-color: black;
	color: white;
	text-align: center;
	top:0;
	left: 1200px;
	z-index: 200;
	
}











