body {

   margin: 0;
   padding: 0;
   max-width: 100%;
   background-color: white;
  
	
}

#page1{
	position:relative;
	height: 100vh;
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	
 	}



#page2{
	
	height: 100vh;	
	background-size:  100% 100%;
	background-color: white;
	max-width: 100%;
	
	
}



#page3{
	position:relative;
	height: 100vh;
	background-color: white;
	
	

	
}
#nav{
	z-index: 1001;
	height: 150px;
	width: 100%;
	background-color: #18121E;
	position: fixed;
	top: calc(100% - 150px);
  
	color:white;
	
}
.smooth{
	position:absolute;

}


a{
	text-decoration: none;
}
a:visited{
	color: white;
	}
li{
	list-style: none;
}
a.anchor{
		display: block;
    	position: relative;
    	top: -200px;
    	visibility: hidden;

}

#pic{
	position: absolute;
	width: 500px;
	height: 666px;
	background-image: url(me20.png);
	background-size: 100% 100%;
	top: 10%;
	left: 10%;


}
#aboutpic{
	position: absolute;
	width: 100%;
	height: 75%;
	background-image: url(gazed.png);
	background-size: 100% 100%;
	top: 10%;
	

}
#aboutme{
		position:absolute;
		width: 604px;
		height: 453 px;
		top: 50%;
		left: 20%;
		color: white;
		

}
#abouttitle{
	position: absolute;
	color: white;
	font-size: 2em;
	top: 20%;
	left: 40%;
	text-align: center;
}
#title{
	position:absolute;
	top: 40%;
	left: 60%;
	font-size: 3em;
	background-color: red;
	width: 25%;
	text-align: center;
}
#nava{
		position:absolute;
		top:50%;
		font-size: 2em;
	}
#navp{
		position:absolute;
		top:50%;
		left: 20%;
		font-size: 2em;
	}
#navc{
		position:absolute;
		top:50%;
		left: 40%;
		font-size: 2em;
	}


